/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

/*csslint compatible-vendor-prefixes:false, ids:false */

.container {
  display: block;
}

.newtab-snippet {
  margin: 1em;
  padding: 14px 16px;
  border-radius: 4px;
  font-size: 13px;
  font-family: 'Lucida Grande', Arial, sans-serif;
  cursor: pointer;
  transition: box-shadow 100ms ease-in-out;
  display: block;
  position: relative;
  width: -moz-fit-content;
}

.newtab-snippet > .icon {
  background-image: url(${self.options.icon});
  background-repeat: no-repeat;
  background-size: 30px;
  width: 30px;
  height: 30px;
  margin: 0;
  display: inline-block;
  position: absolute;
  top: calc(50% - 15px);
}

.newtab-snippet > a {
  display: inline-block;
  margin-left: 40px;
}

#newtab-margin-top .newtab-snippet > a {
  max-width: calc(100vw - 250px);
}

.newtab-snippet:hover {
  box-shadow: 0 0 6px 2px #4CB1FF;
}

#newtab-scrollbox[page-disabled] .newtab-snippet {
  display: none;
}

#newtab-margin-top > #newtab-search-container {
  -moz-box-flex: 1;
}

#newtab-vertical-margin > .container > .newtab-snippet {
  margin: 1em auto;
}
