/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

/*csslint compatible-vendor-prefixes:false, ids:false */

.newtab-snippet {
  margin: 1em;
  padding: 14px 16px 8px;
  border-radius: 4px;
  font-size: 13px;
  font-family: 'Lucida Grande', Arial, sans-serif;
  cursor: pointer;
  transition: box-shadow 100ms ease-in-out;
}

.newtab-snippet > .icon {
  background-image: url(${self.options.icon});
  background-repeat: no-repeat;
  width: 30px;
  min-height: 30px;
  max-height: 30px;
  margin: -6px 3px 0 0;
  vertical-align: top;
}

.newtab-snippet:hover {
  box-shadow: 0 0 6px 2px #4CB1FF;
}

#newtab-scrollbox[page-disabled] .newtab-snippet {
  display: none;
}

#newtab-vertical-margin > .container {
  display: flex;
  justify-content: center;
}

#newtab-margin-top > #newtab-search-container {
  -moz-box-flex: 1;
}
